<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: title }) %>
<body class="bg-light d-flex flex-column min-vh-100">


<!-- Header (site-wide) -->
<%- include('../partials/header') %>


<!-- Page content injected here by express-ejs-layouts -->
<main class="flex-grow-1">
<%- body %>
</main>


<!-- Footer (site-wide) -->
<%- include('../partials/footer') %>


<!-- App bundle (single place for your module scripts) -->
<script type="module" src="/js/app.js" defer></script>
</body>
</html>