<!--views/layout/main.ejs-->
<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: title }) %>
<body class="modern-theme">


<!-- Header (site-wide) -->
<%- include('../partials/header') %>


<!-- Page content injected here by express-ejs-layouts -->
<main class="flex-grow-1">
<%- body %>
</main>


<!-- Footer (site-wide) -->
<%- include('../partials/footer') %>


<!-- CSS Files -->
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/modern-theme.css">
<link rel="stylesheet" href="/css/dashboard-enhancements.css">
<link rel="stylesheet" href="/css/student-dashboard.css">
<link rel="stylesheet" href="/css/layout-fixes.css">
<link rel="stylesheet" href="/css/dark-theme.css">
<!-- Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
<!-- JavaScript -->
<script type="module" src="/js/app.js" defer></script>
</body>
</html>